<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Prelab_1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Prelab_1.Properties.Settings>
            <setting name="checkbox_square" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="custom_textbox1" serializeAs="String">
                <value />
            </setting>
            <setting name="custom_textbox2" serializeAs="String">
                <value />
            </setting>
            <setting name="checkbox_triangle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkbox_round" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkbox_easy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkbox_normal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkbox_hard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkbox_custom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="remember_username" serializeAs="String">
                <value />
            </setting>
        </Prelab_1.Properties.Settings>
    </userSettings>
</configuration>